#adminmenumain {
    font-family: "Open Sans",sans-serif;
}
.wp-submenu-wrap {
  margin: 0;
}
#wpadminbar #wp-admin-bar-wp-logo>.ab-item .ab-icon:before {
    content: '';
    top: 2px;
}
.dashicons-admin-structure:before {
    content: "\f325";
}
.dashicons-admin-reports:before {
    content: "\f184";
}
.dashicons-admin-help:before {
    content: "\f468";
}